@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
    --card: #ffffff;
    --card-foreground: #09090b;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --accent: #f4f4f5;
    --accent-foreground: #09090b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --ring: #18181b;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #09090b;
    --card: #18181b;
    --card-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
